<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WebExcel</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <% if (typeof documentId != 'undefined') { %>
                <li class="active"><a href="/<%= documentId %>"><i class="glyphicon glyphicon-file"></i>#<%= documentId %></a></li>
                <li ><a href="/download/<%= documentId %>"><i class="glyphicon glyphicon-download"></i> Download</a></li>
                <% } %>
                <li><a href="/"><i class="glyphicon glyphicon-plus"></i> New document</a></li>
                <li <% if (url == '/upload') { %>class="active"<% } %>><a href="/upload"><i class="glyphicon glyphicon-upload"></i> Upload</a></li>
                <li <% if (url == '/help') { %>class="active"<% } %>><a href="/help"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
            </ul>
        </div>
    </div>
</nav>
