<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editing <%= documentId %></title>

    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<% include ../includes/navbar.ejs %>

<div class="container" id="app_container">
</div>

<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/underscore/underscore.js"></script>
<script src="/js/app.js"></script>
<script type="application/javascript"><!--
    new App($('#app_container'), <%- JSON.stringify(documentId) %>).run();
// --></script>
</body>
</html>
