<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<% include ../includes/navbar.ejs %>
<div class="container">
    <div class="alert alert-success" role="alert">Use double click to edit cell value/formula</div>
</div>
</body>
</html>
